.about-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.main-container-about {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 69vh;
}

@media (min-width: 425px) {
  .about-container {
    min-height: 25vh;
    justify-content: space-evenly;
  }
  .main-container-about {
    min-height: 37vh;
  }
}
