.banner {
  width: 90%;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.banner-text {
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 700;
  color: white;
}

@media (max-width: 425px) {
  .banner-text {
    width: 61%;
    font-size: 24px;
  }

  .banner {
    height: 111px;
  }
}
