.card-gallery {
  width: 90%;
  height: auto;
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  justify-content: center;
  margin-top: 3%;
  padding: 3% 0 5% 0;
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
  filter: drop-shadow(0.2);
  border-radius: 5px;
}

.cards p {
  color: white;
  size: 18px;
  font-weight: 500;
}

.gradient-filter {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000000 -10%, transparent 40%);
  border-radius: 5px;
}

.card-gallery a {
  text-decoration: none;
  width: 22vw;
  height: 40vh;
}

@media (max-width: 425px) {
  .card-gallery {
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }

  .card-gallery a {
    width: auto;
    height: 33vh;
  }

  .cards {
    width: 90vw;
  }
}
