.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  padding: 0 2% 0 2%;
  margin-bottom: 2%;
  overflow: hidden;
}

.list-header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ff6060;
  padding: 0 2% 0 2%;
  border-radius: 5px;
  justify-content: space-between;
  z-index: 1;
  color: white;
}

.text-list .elements {
  padding: 2%;
}

.text-list {
  font-family: montserrat;
  display: none;
  width: 100%;
  background-color: #f6f6f6;
  padding: 1% 2% 1% 2%;
  border-radius: 5px;
  z-index: 0;
  color: #ff6060;
}

.text-list.show {
  display: block;
  animation: slideDown 0.5s linear forwards;
  margin-bottom: 3%;
}

.text-list.hide {
  display: block;
  animation: slideUp 0.5s linear forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
    display: none;
  }
}

@keyframes rotateArrowOpen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateArrowClose {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Appliquez l'animation à la classe de la flèche ouverte */
.fa-angle-up.open {
  animation: rotateArrowOpen 0.3s linear forwards;
}

/* Appliquez l'animation à la classe de la flèche fermée */
.fa-angle-up.close {
  animation: rotateArrowClose 0.3s linear forwards;
}

/* Assurez-vous que la classe .fa-angle-up reste à l'envers lorsque fermée */
.fa-angle-up {
  transform: rotate(0deg);
}

/* Vous pouvez également ajouter des transitions pour une animation plus fluide */
.fa-angle-up {
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 425px) {
  .list-header {
    height: 4vh;
  }

  .elements,
  .list-of-elements p {
    font-size: 12px;
  }
}
