.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background-color: #ff6060;
  border-radius: 5px;
  padding: 0 2% 0 2%;
}

.list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.open .list-container {
  max-height: 1000px;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.show .text-list {
  animation: slideDown 300ms ease-in-out;
}

.go-down {
  /* rotate: 90deg; */
  animation: turnDown 3s ease-in-out;
}

@keyframes turnDown {
  to {
    transform: rotate 180deg;
  }
}
